/* styles.css */

body {
	background-color: #f0f1f1;
}

a {color:inherit;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;color:inherit;}
a:active {text-decoration:none;}

.top-menu {
	background: #db6f44;
	height: 5%;
	position: fixed;
	top: 0;
	z-index:10;
}

.post-bar {
	position:absolute;
	margin-top:2rem;
	z-index:3;
	width:100%;
}

.post-menu {
	height:2rem;
	width:100%;
	line-height:2rem;
	vertical-align:middle;
}

.search-div {
	position:relative;
}

.post-menu-collapse {
	border-bottom: inset gray 1px;
	width:100%;
	padding: .3rem;
	background: #d7d7d7;
	font-family: "Lato", sans-serif;
}

.dropdown-div {
	background: #d7d7d7;
	margin:.3rem;
	padding:.2rem;
	width:85%;
	font-family: "Lato", sans-serif;
}

.send-div {
	background: #d7d7d7;
	margin:.3rem;
	padding:.2rem;
	font-family: "Lato", sans-serif;
}

.post-button-img {
	max-height:1.3rem;
}

.search-button {
	float:right;
	position:relative;
	line-height:2rem;
	vertical-align: middle;
}

.post-menu-button {
	vertical-align: middle;
	background:none;
	border:none;
	font-family: "Lato", sans-serif;
	color: #aeaeae;
}

.back-button-div {
	float:left;
	height:2rem;
	background:none;
	border:none;
	border-right:solid 1px #d7d7d7;
}

.back-button {
	background:none;
	border:none;
	height:2rem;
	width:2rem;
}

.back-button-img {
	max-height:1rem;
	line-height:2rem;
	vertical-align: middle;
}

.profile-menu {
	padding-right:1rem;
	color: #f1f2f2;
	float: right;
	line-height:2rem;
	vertical-align: middle;
	font-family: "Lato", sans-serif;
}

.profile-head {
	height: 5rem;
	top:2.5rem;
	position:fixed;
	border-radius: .25rem;
	margin-right:.5rem;
	margin-left: .5rem;
	width: 100%;
	background: #d7d7d7;
}

.image-input {
	opacity: 0;
}

.image-input-background {
	position:relative;
	text-align:center;
	background: url('../img/icons/camera.png') no-repeat center;
	border:none;
}

.user-pic-div {
	position:relative;
	float:left;
	padding:.25rem;
	width: 4.5rem;
	display:inline-block;
}

.user-text-div{
	font-family: "Lato", sans-serif;
	display: inline-block;
	padding-left:.5rem;
}

.user-text-div > h1 {
	color: #db6f44;
	font-size:.85rem;
	font-family: "Lato", sans-serif;
	line-height: 0;
}

.user-pic {
	position:relative;
	max-height:4.5rem;
	vertical-align: middle;
}

.post-section {
	margin: .5rem;
	padding: .3rem;
	margin-top:0rem;
	border-radius: .25rem;
	background: #797979;
}

.post-submit {
	margin-top:.5rem;
	float:right;
	background:#db6f44;
	border:none;
	border-radius: .2rem;
	font-family:"PT Mono", sans-serif;
	height:1.5rem;
	line-height:1.5rem;
	vertical-align:middle;
	color:#f0f1f1;
}

.map-image {
	max-height:4rem;
}

.smorg-button {
	margin:.5rem;
}

.activity-container {
	position:absolute;
	margin-top:3.5rem;
}

.profile-container {
	position:absolute;
	margin-top:2.5rem;
}

.menu-item {
	color: #f1f2f2;
	float: left;
	width:33.333%;
	text-align: center;
	line-height:2rem;
	vertical-align: middle;
	font-family: "Lato", sans-serif;
}

.accordian-header {
	font-family: "Lato", sans-serif;
	font-color: #db6f44;
	background: #d7d7d7;
	width:100%;
}



.create-page {
	margin:.5rem;
	padding:.25rem;
	background: gray;
	min-height: 18rem;
}



.logo {
	font-family: "PT Mono", sans-serif;
	color: #f0f1f1;
	font-size: 2.5rem;
	margin:1rem;
}

.activity {
	position: relative;
	margin-top:.7rem;
	width:100%;
}

.collapse-div {
	width:100%;
	margin-top: 1rem;
	margin-right:.4rem;
	margin-left:.4rem;
	position:relative;
	background: #d7d7d7;
	border-radius: .25rem;

}

.activity-button {
	background:#db6f44;
	border-radius:.25rem;
	border:none;
	width:2rem;
	height:2rem;
	margin-left:.25rem;
	padding:.3rem;
}

.profile-pic {
	background-size:cover;
	padding: 0;
    width:2rem;
    height:2rem;
    border:none;
    border-radius:.25rem;
    margin-left:.25rem;
}

.button-group {
	position:absolute;
	top:88%;
	z-index:2;
}

.activity-span {
	margin-left: .5rem;
	font-family: "Lato" sans-serif;
}

.title {
	color: #db6f44;
}

.description {
	font-size: .8rem;
}

.goodfor {
	color: #db6f44;
}

/*from collapseable menu
.test {
	border-bottom:1px solid gray;
	padding: .25rem;
	overflow: hidden;
	z-index:2;
}

.std-text {
	font-family: "Lato", sans-serif;
}
*/