<div scroll-position="scroll"></div>
<div class="smorg-navbar">
	<div class="smorg-item smorg-active"><a href="#/city">CITY</a></div>
	<div class="smorg-item"><a href="#/friends">FRIENDS</a></div>
	<div class="smorg-item"><a href="#/home">HOME</a></div>
</div>

<div class="activity-container">

<article ng-repeat="activity in activities">
	<div class="activity">
		<img src="img/activity/{{ activity.id_activity }}.png" ng-click="isCollapsed=!isCollapsed">
		<div class="button-group">
			<button class="activity-button" ng-click="favoriteItem(activity.id_activity)"><img src="img/icons/star.png" id="star_{{ activity.id_activity }}"></button>
			<!--<button class="activity-button"><img src="img/icons/share.png"></button>-->

			<button class="activity-button dropdown-toggle">
				<img src="img/icons/share.png">
			</button>

			<div class="dropdown-menu send-div">
  				<label>Share With</label><input type="text" placeholder="Enter friends' names.">
  				<label>Message</label><input type="text">
  				<button class="post-submit smorg-button">SEND!</button>
  			</div>


			<button class="profile-pic" ng-click="goToProfile(activity.id_member)"><img src="img/users/{{ activity.id_member }}.png"></button>
		</div>
	</div>
	<div collapse="isCollapsed" class="collapse-div" id="{{ activity.id_activity }}">
		<span class="activity-span title">{{ activity.title }}</span><br />
		<span class="activity-span description">Description: {{ activity.description }}</span><br />
		<span class="activity-span goodfor">good for: </span><span class="activity-span description">{{ activity.goodfor }}</span>
	</div>
</article>

</div>

<!--div for search -->
<div class="smorg-search">
	<div class="smorg-search-results" ng-repeat="result in tag_results">
		<ul class="smorg-search-ul">
		<li>{{ result.tag_text }}</li><!--link tag that will take to search result page with header similar to profile page-->
		</ul>
	</div>
	<div class="smorg-search-tag">
	<label class="smorg-search-label">Good For:</label>
		<input class="smorg-search-input" type="text" ng-model="tag" ng-change="searchTag()"><option>item 1</option><option>item 2</option></input>
	</div>
	<label class="smorg-search-label">Place/Event:</label>
		<input class="smorg-search-input" type="text" />

</div>



<div class="smorg-footmenu">
	<div class="smorg-item smorg-foot smorg-foot-left"><i class="icon-camera"></i> &nbsp SHARE</div>
	<div class="smorg-item smorg-foot" ng-click="showSearch()"><i class="icon-search"></i> &nbsp SEARCH</div>
</div>



