<div class="smorg-navbar">
	<div class="smorg-item"><a href="#/city">CITY</a></div>
	<div class="smorg-item smorg-active"><a href="#/friends">FRIENDS</a></div>
	<div class="smorg-item"><a href="#/profile">PROFILE</a></div>
</div>

<div class="post-bar">
	<div class="post-menu dropdown">
		<button class="post-menu-button" ng-click="isCollapsed=!isCollapsed">
			<img src="img/icons/camera.png" class="post-button-img">
			CREATE POST
		</button>
		
			<button class="search-button post-menu-button dropdown-toggle">
				<img src="img/icons/search.png" class="post-button-img">
				INQUIRY
			</button>

			<div class="dropdown-menu dropdown-div">
				<label>Search In</label>
				<button class="btn dropdown-toggle" data-toggle="dropdown">Atlanta
    				<span class="caret"></span>
  				</button>
  				<ul class="dropdown-menu">
  					<a>Atlanta</a>
  					<a>Add your city.</a>
  				</ul>
  				<label>Good For</label><input type="text">
  				<label>Location</label>
  				<button class="post-submit smorg-button">INQUIRE</button>
  			</div>

		<div collapse="isCollapsed" class="post-menu-collapse">
		<form method="post">
			CAPTURE
			<div class="post-section">
			<div class="image-input-background"><input ng-model="post.file" type="file" accept="image/*" capture="camera" class="image-input"></div>
			</div>
			DESCRIBE
			<div class="post-section">
				<label>Title</label><input type="text" ng-model="post.title">
				<label>Description</label><input type="text" ng-model="post.description">
				<label>Good For</label><input type="text" ng-model="post.goodfor">
			</div>
			GEOCODE
			<div class="post-section">
				<center><img src="img/icons/map.png" class="map-image"></center>
			</div>
			<button class="post-submit smorg-button">SMORG</button>
			{{post}}
		</form>
		</div>
	</div>
</div>

<div class="activity-container">

<article ng-repeat="activity in activities">
	<div class="activity">
		<img src="img/activity/{{ activity.id_activity }}.png" ng-click="isCollapsed=!isCollapsed">
		<div class="button-group">
			<button class="activity-button" ng-click="favoriteItem(activity.id_activity)"><img src="img/icons/star.png" id="star_{{ activity.id_activity }}"></button>
			<!--<button class="activity-button"><img src="img/icons/share.png"></button>-->
			<button class="activity-button dropdown-toggle">
				<img src="img/icons/share.png">
			</button>

			<div class="dropdown-menu send-div">
  				<label>Share With</label><input type="text" placeholder="Enter friends' names.">
  				<label>Message</label><input type="text">
  				<button class="post-submit smorg-button">SEND!</button>
  			</div>

			<button class="profile-pic" ng-click="goToProfile(activity.id_member)"><img src="img/users/{{ activity.id_member }}.png"></button>
		</div>
	</div>
	<div collapse="isCollapsed" class="collapse-div" id="{{ activity.id_activity }}">
		<span class="activity-span title">{{ activity.title }}</span><br />
		<span class="activity-span description">Description: {{ activity.description }}</span><br />
		<span class="activity-span goodfor">good for: </span><span class="activity-span description">{{ activity.goodfor }}</span>
	</div>
</article>

</div>

<div class="smorg-footmenu">
	<div class="smorg-item smorg-foot smorg-foot-left"><a href="#"><i class="icon-camera"></i> &nbsp SHARE</a></div>
	<div class="smorg-item smorg-foot"><a href="#"><i class="icon-search"></i> &nbsp SEARCH</a></div>
</div>
