<div class="top-menu">
  <div class="menu-item"><a href='#/friends'><u>FRIENDS</u></a></div>
  <div class="menu-item"><a href='#/city'>CITY</a></div>
  <div class="menu-item"><a href='#/mine'>MINE</a></div>
</div>

<div>
<article ng-repeat="activity in activities">
    <div>
    <img src="img/activity_img/{{ activity.id_entries }}.png" />
        <h5>{{ activity.user }} / {{ activity.description }}</h5> 
        <button ng-click="favoriteItem(activity.id_entries)">Favorite!</button>
    </div>
</article>
</div>
