<div class="top-menu">
  <div class="menu-item"><a href='#/friends'>FRIENDS</a></div>
  <div class="menu-item"><a href='#/city'>CITY</a></div>
  <div class="menu-item"><a href='#/mine'><u>MINE</u></a></div>
</div>

<div class="activity-container">

<article ng-repeat="activity in activities">
	<div class="activity">
		<img src="img/activity/{{ activity.id_activity }}.png" ng-click="isCollapsed=!isCollapsed">
		<div class="button-group">
			<button class="activity-button" ng-click="favoriteItem(activity.id_activity)"><img src="img/icons/star.png" id="star_{{ activity.id_activity }}"></button>
			<button class="activity-button"><img src="img/icons/share.png"></button>
			<button class="profile-pic"><img src="img/users/{{ activity.id_member }}.png"></button>
		</div>
	</div>
	<div collapse="isCollapsed" class="collapse-div" id="{{ activity.id_activity }}">
		<span class="activity-span title">{{ activity.title }}</span><br />
		<span class="activity-span description">Description: {{ activity.description }}</span><br />
		<span class="activity-span goodfor">good for: </span><span class="activity-span description">{{ activity.goodfor }}</span>
	</div>
</article>

</div>