<div class="top-menu">
	<div class="back-button-div" onclick="history.back()"><button class="back-button"><img src="img/icons/back.png" class="back-button-img"></button></div>
  <div class="profile-menu">@corbinklett</div>
</div>

<div class="profile-container">

	<div class="profile-head">
		<div class="user-pic-div"><img src="img/users/26.png" class="user-pic"></div>
		<div class="user-text-div">
			<h1>Corbin Klett</h1>
			<p>Just here to party.</p>
			<span><p>Starred: 34 &nbsp&nbspFollowers: 367</p>
		</div>
	</div>

<!--put number of favorites and shared-->

</div>
