<div class="top-menu">
	<div class="back-button-div" onclick="history.back()"><button class="back-button"><img src="img/icons/back.png" class="back-button-img"></button></div>
  <div class="profile-menu">@{{ memberdata.user }}</div>
</div>

<div class="profile-container">

	<div class="profile-head">
		<div class="user-pic-div"><img src="img/users/{{ memberdata.id_member }}.png" class="user-pic"></div>
		<div class="user-text-div">
			<h1>{{ memberdata.firstname }} {{ memberdata.lastname }}</h1>
			<p>{{ memberdata.about }}</p>
			<span><p>Starred: {{ memberdata.fav_count }} &nbsp&nbspFollowers: {{ memberdata.followers }}</p>
		</div>
	</div>



<!--put number of favorites and shared-->

</div>
