<style>
body {background: #DB6F45;}
</style>

<div class="login-box">
	<center class="logo">SMORG<span class="logo-subtitle"> WHAT TO DO?</span></center>

	<center>
	{{ member.signupErr }}
	<form id="login">
		<input class="login-input" type="text" ng-model="member.firstname" placeholder="First Name"/><br />
		<input class="login-input" type="text" ng-model="member.lastname" placeholder="Last Name"/><br />
		<input class="login-input" type="text" ng-model="member.username" placeholder="Username"/><br />
		<input class="login-input" type="text" ng-model="member.email" placeholder="Email"/><br />
		<input class="login-input" type="password" ng-model="member.password" placeholder="Password"/><br />
		<button class="login-button" ng-click="signUp()">SIGN UP</button>
	</form>
	</center>
</div>
