<div>

   <form ng-upload action="api/index.php/post_activity">
       <p>
           <label>Title:</label>
           <input type="text" name="title" ng-model="activity.title" />
       </p>
       <p>
           <label>Description:</label>
           <input type="text" name="description" ng-model="activity.description" />
       </p>
       <p>
           <label>Good For</label>
           <input type="text" name="goodfor" ng-model="activity.goodfor"/>
       </p>
       <p>
           <label>Picture:</label>
           <input type="file" name="photo" accept="image/*" />
       </p>
       <p>
           <input type="submit" class="btn" value="Submit" 
             upload-submit="uploadComplete(content, completed)" />
       </p>
       		<input type="hidden" name="id_member" ng-model="activity.id_member" value="{{ id_member }}" />
   </form>
   <div class="alert alert-info">Server Response: {{response | json}}</div>
   <div>
       Fullname: <b>{{response.fullname}}</b><br />
       Gender: <b>{{response.gender}}</b><br />
       Favourite Color: <span ng-style="response.style">{{response.color}}</span><br />
       Picture: {{response.pictureUrl}}
   </div>




<!--
<form ng-submit="submit()">
	<label>Activity</label><input type="text" ng-model="activity.name" />
	<label>Good For</label><input type="text" ng-model="activity.goodfor" />
	
	<input type="file" ng-model="activity.file" />

	<input type="file" ng-model="activity.photo" accept="image/*" multiple
	    image="images"
	    resize-max-height="300"
	    resize-max-width="250"
	    resize-quality="0.7" />
	Originals <img ng-repeat="img in images" ng-src="{{img.url}}" type="{{img.file.type}}" />
	Resized <img ng-repeat="img in images" ng-src="{{img.resized.dataURL}}" />

      <input type="submit" id="submit" value="Submit" />
      <pre>things={{activity}}</pre>
    </form>
-->

</div>